<div class="container">
  <h1>Receptionist Dashboard</h1>
  
  <div class="mb-4">
    <%= link_to 'New Patient', new_receptionist_patient_path, class: 'btn btn-success' %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.full_name %></td>
          <td><%= patient.dob %></td>
          <td><%= patient.gender %></td>
          <td><%= patient.phone %></td>
          <td>
            <%= link_to 'Show', receptionist_patient_path(patient) %>
            <%= link_to 'Edit', edit_receptionist_patient_path(patient) %>
            <%= link_to 'Delete', receptionist_patient_path(patient), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>