<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1>Patient Details</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Name:</strong> <%= @patient.full_name %></p>
              <p><strong>Date of Birth:</strong> <%= @patient.dob.strftime("%b %d, %Y") %></p>
              <p><strong>Age:</strong> <%= age_from_dob(@patient.dob) %></p>
            </div>
            <div class="col-md-6">
              <p><strong>Gender:</strong> <%= @patient.gender %></p>
              <p><strong>Phone:</strong> <%= @patient.phone %></p>
              <p><strong>Registered:</strong> <%= @patient.created_at.strftime("%b %d, %Y") %></p>
            </div>
          </div>
          
          <div class="mt-4">
            <h5>Address</h5>
            <p><%= @patient.address %></p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Back to Patients', doctor_patients_path, 
              class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>